svg {
    vertical-align: bottom;
}

@keyframes scale {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.loading-spinner {
    width: var(--loading-size, 44px);
    height: var(--loading-size, 44px);
    font-size: 0;
    position: relative;
    vertical-align: middle;
    display: inline-block;

    .spinner-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        animation: lds-spinner 1s steps(8, end) infinite;

        &-line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 11.6%;
            height: 32.33%;
            border-radius: 100px;
            transform-origin: center 150%;
            background: var(--loading-color, #333);

            &:nth-child(1) {
                transform: translate(-50%, -150%) rotate(0);
                opacity: 0.27;
            }

            &:nth-child(2) {
                transform: translate(-50%, -150%) rotate(45deg);
                opacity: .35285714;
            }

            &:nth-child(3) {
                transform: translate(-50%, -150%) rotate(90deg);
                opacity: .43571429;
            }

            &:nth-child(4) {
                transform: translate(-50%, -150%) rotate(135deg);
                opacity: .51857143;
            }

            &:nth-child(5) {
                transform: translate(-50%, -150%) rotate(180deg);
                opacity: .60142857;
            }

            &:nth-child(6) {
                transform: translate(-50%, -150%) rotate(225deg);
                opacity: .68428571;
            }

            &:nth-child(7) {
                transform: translate(-50%, -150%) rotate(270deg);
                opacity: .76714286;
            }

            &:nth-child(8) {
                transform: translate(-50%, -150%) rotate(315deg);
                opacity: .85;
            }
        }
    }
}

.preloader {
    display: inline-block;
    vertical-align: middle;
    width: var(--loading-size, 44px);
    height: var(--loading-size, 44px);
    font-size: 0;
    position: relative;

    &-inner {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        animation: preloader-rotate 1.4s linear infinite;

        circle {
            fill: none;
            stroke: var(--loading-color);
            animation: preloader-circle-rotate 5.6s ease-in-out infinite;
            stroke-dasharray: 100px;
            stroke-dashoffset: 80px;
            stroke-width: 4;
            transform: rotate(-90deg);
            transform-origin: 18px 18px;
        }

    }
}

@keyframes preloader-rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes preloader-circle-rotate {
    0% {
        transform: rotate(-90deg);
        stroke-dashoffset: 100px
    }

    12.5% {
        transform: rotate(-90deg);
        stroke-dashoffset: 25px
    }

    25% {
        stroke-dashoffset: 100px;
        transform: rotate(180deg)
    }

    25.1% {
        transform: rotate(-180deg);
        stroke-dashoffset: 100px
    }

    37.5% {
        transform: rotate(-180deg);
        stroke-dashoffset: 25px
    }

    50% {
        stroke-dashoffset: 100px;
        transform: rotate(90deg)
    }

    50.1% {
        transform: rotate(90deg);
        stroke-dashoffset: 100px
    }

    62.5% {
        transform: rotate(90deg);
        stroke-dashoffset: 25px
    }

    75% {
        stroke-dashoffset: 100px;
        transform: rotate(360deg)
    }

    75.1% {
        transform: rotate(0deg);
        stroke-dashoffset: 100px
    }

    87.5% {
        transform: rotate(0deg);
        stroke-dashoffset: 25px
    }

    100% {
        stroke-dashoffset: 100px;
        transform: rotate(270deg)
    }
}

@keyframes lds-spinner {
    100% {
        transform: rotate(360deg);
    }
}

#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    color: #fff;
    animation: scale 0.25s forwards linear;
}

.loading-container-content {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 5px;
}

.loading-container-content:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.loading-container-content .loading-text {
    margin: -10px 0 0 0;
    font-size: 13px;
}